<div class="container">

  <h1>ユーザー一覧</h1>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>年齢</th>
        <th>性別</th>
        <th>学校名</th>
        <th>面接日時</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
        <% user.birthday %>
          <%= (Time.zone.now.year) - (user.birthday.year) %>
        </td>
        <td><%= user.gender %></td>
        <td><%= user.school %></td>
        <td>面接日時を入れる</td>
        <td><%= link_to '面接一覧', interviews_path, class: "btn btn-outline-primary" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
